@font-face{
  font-family:YekanBakh;
  font-style:normal;
  font-weight:400;
  src:url("~static/fonts/Yekan-Bakh-FaNum-04-Regular.ttf") format("truetype")
}
@font-face{
  font-family:YekanBakh;
  font-style:normal;
  font-weight:500;
  src:url("~static/fonts/Yekan-Bakh-FaNum-05-Medium.ttf") format("truetype")
}
@font-face{
  font-family:YekanBakh;
  font-style:normal;
  font-weight:600;
  src:url("~static/fonts/Yekan-Bakh-FaNum-06-Bold.ttf") format("truetype")
}
@font-face{
  font-family:YekanBakh;
  font-style:normal;
  font-weight:700;
  src:url("~static/fonts/Yekan-Bakh-FaNum-07-Heavy.ttf") format("truetype")
}